/* VARIABLES */
:root {
    --clr-white: hsl(300, 5%, 92%);
    ;
    --clr-black: hsl(0, 0%, 13%);

    --clr-rose: var(--clr-pink);
    --clr-creme: hsl(24, 100%, 95%);

    --clr-burgundy: hsl(344, 74%, 29%);
    /* --clr-burgundy-dark: hsl(344, 82%, 22%); */
    --clr-teal: hsl(191, 100%, 13%);

    /* nikitől */
    --clr-perfect-gray: #868787;
    --clr-pink-shit: #eab2cb;

    /* adobe */
    --clr-a1: #EBD9B2;
    --clr-a2: #B2C5EB;
    --clr-purple-dark: #6B3A50;

    /* ránézésre */
    --clr-purple-dark: #270F33;
    --clr-pink: #FFC2E8;
    --clr-pink: var(--clr-pink-shit);
    --clr-valami: #966A7D;
    --wc-subtext: #767676;
    --wc-secondary-text: #515151;

    /* WP */
    --wp--preset--font-size--huge: 42px;
    --woocommerce: #a46497;
    --wc-primary: ##4D3A4D;

    /* highlight palette */
    --clr-magenta: #99005D;
    --clr-magenta-light: #E661A7;
    --clr-light: #FBF4D7;
    --clr-gray-purple: #FBF4D7;
    --clr-teal2: #005B4F;
    /* 
    gpt colors */
    --clr-pink-light: #eab2cb;
    --clr-pink-dark: #c97a97;
    --clr-grey-mid: #868787;
    --clr-grey-dark: #505050;
    --clr-white: #ffffff;
    --clr-black: #000000;




    --wp--preset--font-size--small: 14px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 24px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--font-size--normal: 20px;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
    --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
    --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
    --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
    --cps--link: #4e4a3f;

    --cps--primary: #dfcaba;
    --cps--secondary: #f7f2ee;
    --cps--secondary--button: #ceb198;
    --cps--accent: #fbf8f6;

}


/* CSS RESET */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    font-family: "Mukta", sans-serif;
    font-size: calc(15px + 0.25vw);
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.625;
    word-break: break-word;
    color: var(--clr-black);
}

header {
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: transparent;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

    background-image: url("../img/fabr.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* -webkit-filter: grayscale(70%);
    filter: grayscale(100%); */
}




/* színátmenet a háttéren */
header::after {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;

    /* background: linear-gradient(to bottom, var(--clr-white), var(--clr-white)); */
    opacity: .7;
    mix-blend-mode: color;
}


.btn {
    margin-top: 1rem !important;

    border-radius: 1px;
    border: none;

    padding: 1rem 2rem;

    font-weight: 500;

    font-size: 0.75rem;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;

    transition: all .2s;

    background-color: var(--clr-rose);
    color: var(--clr-black);
}

.btn-dark {
    /* margin-top: 1rem; */
    /* background-color: var(--clr-teal); */
    border: 1px solid var(--clr-teal);
    /* color: var(--clr-white); */
}

nav a {
    margin: 0;
    padding: 2.4vh 1em;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: light;
    color: var(--clr-black);
}



/* nav a.active {
    text-decoration: underline wavy;
} */

a {
    color: var(--clr-rose);
    text-decoration: none;
    transition: all .2s linear;
}

nav {
    display: flex;
    justify-content: center;
}

.header-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* added display flex properties */
.header-left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-content:center; */
}

::selection {
    background-color: var(--clr-rose);
}

p {
    word-break: break-word;
    word-wrap: break-word;
    text-align: justify;
}

/* 
.logo {
    font-size: 3rem;
    justify-self: center;
    align-self: center;
    color: var(--clr-pink);
} */

.logo {
    /* width: 50px; */
    height: 5rem;
}

h1 {
    /* font: bold max(10rem, 8vw) / max(10rem, 5vw); */
    font-size: 5rem;
    line-height: 0.9;
    text-transform: uppercase;
    color: var(--clr-pink);
    white-space: nowrap;

}

/* main {
    padding: 5rem 2rem;
} */


.header-content {
    max-width: 40%;

    position: relative;
    margin: 0 10rem;
    padding: 1px;
}

header * {
    z-index: 99;
}
.header-subpage{
    height: fit-content;
    min-height: 20vw;
}
.title-subpage{
    text-align: center;
}
/* 
.two-column {

    margin-inline: -2rem;
    border: 0;
    vertical-align: baseline;

    margin: auto;
    width: 100%;
    margin-bottom: 35px;
    padding: 35px 10%;
} */

section,
footer {
    padding: 65px 10%;
    /* width: 100%; */
}

/* grid */
.two-column {
    max-width: 1440px;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-inline: auto;
}

.two-column2 {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-inline: auto;
}

.three-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.card {
    /* background-color: #6B3A50; */
    border-radius: 5px;
    border: 1px dashed var(--clr-burgundy);
    padding: 1rem;
}

#magadra-ismersz>h2 {
    text-align: center;
}


#problema {
    background-color: var(--clr-creme);
}

#rolunk {
    background-color: var(--clr-teal);
    color: var(--clr-white);
}

#megoldas {
    background-color: var(--clr-creme);
}

#szolgaltatasok {
    background-color: var(--clr-rose);
}

footer {
    background-color: var(--clr-burgundy);
    color: var(--clr-white);
}

footer>div {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

footer>div>div {
    max-width: 40%;
}

.tunde {
    text-align: center;
    /* background-color: var(--clr-burgundy-dark); */
}

.tanacs {
    background-color: aquamarine;
    padding: 1rem;
    font-style: italic;
    color: var(--clr-black);
}

.kerdojel {
    background-color: hotpink;
    color: black;
    padding: 1rem;
}

.p676 {
    /* font-style: italic; */
    font-weight: bold;
    font-size: 1.2em;
    color: var(--clr-rose);
}

.alatt {
    text-transform: lowercase;
}