@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIABLES */
:root {
    --ff: "Barlow", sans-serif;

    --clr-pink-light: #eab2cb;
    --clr-pink-dark: #c97a97;
    --clr-grey-mid: #868787;
    --clr-grey-dark: #505050;
    --clr-white: #ffffff;
    --clr-black: #000000;

    /* szurke lehet subtext */

    /* adobe */
    --clr-a2: #B2C5EB;
    --clr-purple-dark: #6B3A50;

    /* ránézésre */
    --clr-burgundy: hsl(344, 74%, 29%);
    --clr-teal: hsl(191, 100%, 13%);
    --clr-purple-dark: #270F33;

    /* WP */
    --woocommerce: #a46497;
    --wc-primary: #4D3A4D;

    /* highlight palette */
    --clr-magenta: #99005D;
    --clr-magenta-light: #E661A7;
    --clr-light: #FBF4D7;
    --clr-gray-purple: #FBF4D7;
    --clr-teal2: #005B4F;





    --wp--preset--font-size--small: 14px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 24px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--font-size--normal: 20px;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
    --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
    --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
    --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}


/* CSS RESET */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    font-family: var(--ff);
    font-size: calc(15px + 0.25vw);
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.625;
    word-break: break-word;
    color: var(--clr-black);
}

header {
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: transparent;

    background-image: url("../img/fabr.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}




/* színátmenet a háttéren */
header::after {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;

    /* background: linear-gradient(to bottom, var(--clr-white), var(--clr-white)); */
    /* -webkit-filter: grayscale(70%);
    filter: grayscale(100%); */
    opacity: .7;
    mix-blend-mode: color;
}


h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.btn {
    margin-top: 1rem !important;

    border-radius: 1px;
    border: none;

    padding: 1rem 2rem;

    font-weight: 500;

    font-size: 0.75rem;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;

    transition: all .2s;

    background-color: var(--clr-pink-light);
    color: var(--clr-black);

    border-radius: 4px;
    cursor: pointer;
}

.btn-dark {
    background-color: var(--clr-pink-dark);
    color: var(--clr-white);
}

.btn-container {
    margin-top: 3rem;
    text-align: center;
}

nav a {
    margin: 0;
    padding: 2.4vh 1em;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: light;
    color: var(--clr-grey-dark);
}



nav a.active {
    color: var(--clr-pink);
}

a {
    color: var(--clr-pink-dark);
    text-decoration: none;
    transition: all .2s linear;
    /* transition: .3s all ease; */
}

.btn:focus-visible {
    outline: none;
    box-shadow: none;
}

nav {
    display: flex;
    justify-content: center;
}

.nav-content-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-content-left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

::selection {
    background-color: var(--clr-pink-light);
}

p {
    word-break: break-word;
    word-wrap: break-word;
    text-align: left;
}

/* 
.logo {
    font-size: 3rem;
    justify-self: center;
    align-self: center;
    color: var(--clr-pink);
} */

.logo {
    /* width: 50px; */
    height: 5rem;
}

h1 {
    /* font: bold max(10rem, 8vw) / max(10rem, 5vw); */
    font-size: 3rem;
    line-height: 0.9;
    text-transform: uppercase;
    color: var(--clr-pink-light);
    white-space: nowrap;

}


.header-content {
    max-width: 40%;

    position: relative;
    margin: 0 10rem;
    padding: 1px;
}

.header-img img {
    /* height: 70%; */
    width: 70%;
}

header>div {}

header * {
    z-index: 99;
}

.header-subpage {
    padding: 1px;
    height: fit-content;
    min-height: 20vw;

    display: flex;
    align-items: center;
}

.title-subpage {
    text-align: center;
    flex-grow: 1;
}

/* 
.two-column {

    margin-inline: -2rem;
    border: 0;
    vertical-align: baseline;

    margin: auto;
    width: 100%;
    margin-bottom: 35px;
    padding: 35px 10%;
} */

section,
footer {
    padding: 65px 10%;
    /* width: 100%; */
}

/* grid */
.two-column {
    max-width: 1440px;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-inline: auto;
}

.two-column2 {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-inline: auto;
}

.three-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.card {
    /* background-color: #6B3A50; */
    border-radius: 5px;
    border: 1px dashed var(--clr-grey-dark);
    padding: 1rem;
}



#magadra-ismersz>h2 {
    text-align: center;
}


#problema {
    background-color: var(--clr-pink-light);
}

#rolunk {
    background-color: var(--clr-grey-dark);
    color: var(--clr-white);
}

#megoldas {
    background-color: var(--clr-pink-light);
}

#szolgaltatasok {
    background-color: var(--clr-pink-light);
}

footer {
    background-color: var(--clr-pink-dark);
    color: var(--clr-white) !important;
}

footer a {
    color: var(--clr-white);
    text-decoration: underline;
}

footer>div {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

footer>div>div {
    max-width: 40%;
}

.tunde {
    margin-top: 3rem;
    margin-inline: auto;
    color: var(--clr-black) !important;
    width: fit-content;
    text-align: center;
    background-color: var(--clr-pink-light);
    padding: .8rem 1.5rem;
    /* background-color: var(--clr-burgundy-dark); */
}

.footer a {
    color: var(--clr-black) !important;
}

.tanacs {
    background-color: aquamarine;
    padding: 1rem;
    font-style: italic;
    color: var(--clr-black);
}

.kerdojel {
    background-color: hotpink;
    color: black;
    padding: 1rem;
}

/* .p676 {
    font-style: italic;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--clr-pink-light);
}

.p676:before {
    font-family: "Font Awesome 5 Free"; 
    content: url('../img/logo.jpg');
    height: 16px;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
} */


.p676 {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--clr-pink-light);
    display: inline-flex;
    align-items: center;
}

.p676 img {
    height: 1em;
    margin-right: 3px;
    vertical-align: middle;
}

.szerep {
    font-style: italic;
}

section>img {
    border: 15px solid white;
    box-shadow: var(--wp--preset--shadow--natural);
}

/* fontawesome */
i {
    font-size: 20px;
    color: #fff;
    margin-top: 5px;
}

















#contact-form {
    line-height: 1.9;
    /* background: linear-gradient(to bottom, var(--clr-pink-light) 50%, #ffffff 50%); */

}

.contact-wrap {
    /* var */
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
}

.form {
    background: var(--clr-white);
    flex: 1;
    padding: 3rem;
}

.contact-info {
    padding: 40px;
    color: var(--clr-white);
    background: var(--clr-grey-dark);
    width: 350px;
}


input,
textarea {
    border: none;
    border-bottom: 1px solid var(--clr-grey-mid);
    padding-inline: 0;
    border-radius: 0;
    background: none;
    height: 45px;
}


input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: #000;
}



#contact-form .btn {
    border: none;
    border-radius: 0;
    font-size: 12px;
    letter-spacing: .2rem;
    text-transform: uppercase;
}


label {
    font-size: 14px;
    color: var(--clr-grey-dark);
    margin: 0 0 10px 0;
    /* display: inline-block; */
    padding: 0;
    display: block;
    margin-bottom: 5px;

}

textarea {
    resize: vertical;
}




.contact-info ul li {
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.5);
}



#contact-form h3 {
    color: var(--clr-pink-dark);
    font-size: 20px;
    margin-bottom: 30px;
}

.contact-info h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
}


label.error {
    font-size: 12px;
    color: red;
}


ul.list-unstyled {
    list-style: none;
    padding: 0;
}


.form-group {
    margin: 15px;
}

/* 
ul.list-unstyled li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
} */





/* ------------------------ */
.submitting {
    display: none;
}


#form-message-warning,
#form-message-success {
    display: none;
    margin-top: 10px;
}

/*
#form-message-warning {
    color: red;
}

#form-message-success {
    color: green;
}

#form-message-warning,
#form-message-success {
    display: none;
}

#form-message-warning {
    color: #B90B0B;
}

#form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold;
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000;
} */