@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Rubik:wght@400;700&display=swap');

/* Typography and colors --------------------------------------------------- */
:root {
    --ff: "Barlow", sans-serif;
    /* --ff-display: "DM Serif Display", serif; */

    --clr-og-pink-light: #eab2cb;
    --clr-pink-dark: #c97a97;
    --clr-grey-light: #f0f0f0;
    --clr-og-grey-mid: #686767;
    --clr-grey-dark: #505050;
    --clr-white: #ffffff;
    --clr-black: #000000;

    --clr-alpha-pink-dark: rgba(201, 122, 151, .6);
    --clr-alpha-gray: rgba(104, 103, 103, .6);
    --clr-alpha-l-gray: rgba(104, 103, 103, .2);

    /* SZINEK */
    /* adobe */
    --clr-a2: #B2C5EB;
    --clr-purple-dark: #6B3A50;

    /* ránézésre */
    --clr-burgundy: hsl(344, 74%, 29%);
    --clr-teal: hsl(191, 100%, 13%);
    --clr-purple-dark: #270F33;

    /* WP */
    --woocommerce: #a46497;
    --wc-primary: #4D3A4D;

    /* highlight palette */
    --clr-magenta: #99005D;
    --clr-magenta-light: #E661A7;
    --clr-light: #FBF4D7;
    --clr-gray-purple: #FBF4D7;
    --clr-teal2: #005B4F;

    --line-height-text: 1.625;

    --spacing--30: .67rem;
    /* 10.72 */

    --gutter-y-section: 65px;
    --gutter-y-small: 30px;
    --gutter-x-section: 10%;



    --font-size--small: 14px;
    --font-size--medium: 1.25rem;
    --font-size--large: 24px;
    --font-size--x-large: 42px;

    --spacing--10: .2rem;
    /* 7.04 */
    --spacing--20: .44rem;

    --spacing--40: 1rem;
    --spacing--50: 1.5rem;
    /* 36 */
    --spacing--60: 2.25rem;
    /* 54.08 */
    --spacing--70: 3.38rem;
    /* 80.96 */
    --spacing--80: 5.06rem;


    --shadow-natural: 6px 6px 9px var(--clr-alpha-l-gray);
    /* --shadow-slight: 3px 3px 9px var(var(--clr-alpha-l-gray)); */
    --shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
    --shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
    /* --shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1); */
    --shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}

::selection {
    background-color: var(--clr-pink-dark);
    color: white;
}

.bg-dark ::selection {
    background-color: white;
    color: var(--clr-og-pink-light);
}

p {
    word-break: break-word;
    word-wrap: break-word;
    text-align: left;
}

h1 {
    /* font: bold max(10rem, 8vw) / max(10rem, 5vw); */
    font-size: 6rem;
    line-height: 0.9;
    text-transform: uppercase;
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
}

h1.title-subpage {
    justify-content: center;
    color: var(--clr-og-pink-light);
    /* font-size: 5rem; */
}

h1.title-main {
    background: linear-gradient(var(--clr-og-pink-light) 40%, var(--clr-pink-dark));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    /* text-transform: uppercase; */
    /* font-style: italic; */
    font-size: 1.08em;
}



/* big */
@media (min-width: 1025px) {
    h1.title-subpage {
        font-size: 5rem;
    }
}


/* laptop */
@media (max-width: 1024px) {
    h1 {
        font-size: 3.5rem;
        line-height: 1;
    }
}

/* phone */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
        line-height: .9;
    }


    section {
        padding: var(--gutter-y-section) var(--spacing--10);
    }
}


@media screen and (max-width: 450px) {
    /* img {
        max-width: 300px !important;
    } */

    .text-and-img {
        display: block;
    }

    .columns {
        display: block;
    }
}



h1,
h2,
h3 {
    letter-spacing: 3px;
    color: var(--clr-grey-dark);
}


h3 {
    margin-bottom: var(--spacing--30);
}

#program-site h2,
#program-site h3 {
    text-transform: uppercase;
}

#program-site h2#cta {
    text-transform: none;
}

#partner-site section,
#program-site section {
    padding-block: var(--gutter-y-small);
}






/* CSS RESET */
* {
    box-sizing: border-box;
}

img {
    display: block;
    /* width: 100%; */
    max-width: 100%;
}

html,
body {
    overflow-wrap: break-word;

    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    background-color: var(--clr-white);
    font-family: var(--ff);
    font-size: calc(15px + 0.25vw);
    /* font-size: var(--font-size--medium); */
    font-weight: 400;
    letter-spacing: 1px;
    line-height: var(--line-height-text);
    color: var(--clr-grey-dark);
}

b {
    font-weight: 600;
}

/* HEADER------------------------------------------------------- */
header {
    margin-top: 5rem;
    position: relative;
    width: 100%;
    min-height: 30vh;
    /* max-height: 90vh; */
    background-color: transparent;

    background: url("../img/fabr2.jpg") center/cover no-repeat;
}

.header-content {
    padding-bottom: 5rem;
}

/* .header-wrapper {
    margin-top: 6rem;
} */





/* színátmenet a háttéren */
header::after {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;

    /* background: linear-gradient(45deg, hsl(318, 96%, 36%), hsl(309, 100%, 93%)); */
    /* -webkit-filter: grayscale(70%);
    filter: grayscale(100%); */
    opacity: .4;
    /* mix-blend-mode: difference; */
}

/* .header-content {
    max-width: 40%;

    position: relative;
    margin: 0 10rem;
    padding: 1px;
}*/

.header-img img {
    /* height: 70%; 
    width: 70%; */
    align-self: end;
    /* width: ; */
}


header * {
    z-index: 99;
}

.header-subpage {
    padding: 1px;
    height: fit-content;
    min-height: 20vw;

    display: flex;
    align-items: center;
}

.title-subpage {
    text-align: center;
    flex-grow: 1;
}




/* A AND BUTTON------------------------------------------------------- */
a {
    color: var(--clr-pink-dark);
    text-decoration: none;
    transition: all .2s linear;
    /* transition: .3s all ease; */
}

.btn {
    /* margin-top: 1rem; */

    border-radius: 1px;
    border: none;

    font-weight: 500;
    padding: 2.4vh 1em;

    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;

    transition: all .2s;

    background-color: var(--clr-og-pink-light);
    color: var(--clr-black);

    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;

    text-decoration: none !important;
    font-size: .9em;
}

.btn .fa {
    font-size: var(--font-size--medium);
}

.btn-unstyled {
    background-color: transparent;
    color: var(--clr-grey-dark)
}

.btn-light {
    background-color: white;
    border: 1px solid var(--clr-grey-dark);
}

.btn-container {
    margin-top: var(--spacing--60);
    /* text-align: center; */
}

.btn:focus-visible {
    outline: none;
    box-shadow: none;
}

.btn:hover {
    background-color: var(--clr-pink-dark);
}

.btn-light:hover {
    background-color: white;
    color: var(--clr-grey-dark);
}

.btn-unstyled:hover {
    border: 1px solid var(--clr-grey-dark);
    background-color: transparent;
}


/* NAV ------------------------------------------ */
nav {
    position: relative;
}

.main-nav {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5vw;

    background-color: var(--clr-white);
}

.nav-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.2rem;
}

.main-nav a:not(.btn) {
    margin: 0;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: light;
    color: var(--clr-grey-dark);
}

.main-nav a.active {
    color: var(--clr-pink);
}

.logo {
    height: 5rem;
    margin-right: auto;
}


nav a.active {
    text-decoration: underline wavy;
}





.navbar-toggler {
    display: none;
    padding: 15px;
}

.nav-first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-nav[data-scrolled="true"] {
    box-shadow: var(--shadow-natural);
}

@media screen and (max-width: 785px) {

    .main-nav {
        flex-direction: column;
        position: relative;
        transition: all .2s;
    }

    .main-nav[data-state="closed"] .nav-content {
        display: none;
    }

    .main-nav[data-state="open"] .nav-content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .main-nav[data-state="open"] .nav-first-row {
        border-bottom: 1px solid var(--clr-alpha-gray);
    }


    .navbar-toggler {
        display: block !important;
        /* position: fixed;
        top: 0;
        right: 0; */
    }

    .logo {
        margin-right: 0px;
        width: 100%;

        display: block !important;
    }

    header {
        margin-top: 0;
    }
}









/* LAYOUT------------------------------------------------------------- */
main:nth-child(1) {
    padding-top: calc(var(--gutter-y-section)*1.8)
}

main:last-child() {
    padding-bottom: calc(var(--gutter-y-section)*1.8)
}

section,
footer {
    padding: var(--gutter-y-section) var(--gutter-x-section);
}

section {
    background-color: var(--clr-white);
}

.columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 2rem;
    justify-items: center;
    /* margin-inline: auto; */
}

.text-and-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    align-items: end;
    justify-content: center;
    justify-items: center;
    gap: 2rem;
}



.card {
    /* background-color: #6B3A50; */
    /* border-radius: 5px;
    border: 1px dashed var(--clr-grey-dark); */
    padding: 1rem;
}



footer>div {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

footer>div>div {
    max-width: 40%;
}

.center {
    margin-inline: auto;
    text-align: center;
}

.center * {
    text-align: center;
}


.wrapper {
    margin-inline: auto;
    max-width: 1440px;
}

.wrapper-small {
    max-width: 1010px;
}



/* MODIFIERS ------------------------------------------------ */
.tanacs {
    background-color: aquamarine;
    padding: 1rem;
    font-style: italic;
}

.flip-x {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.bg-pink {
    background-color: var(--clr-og-pink-light);
    color: var(--clr-black);
}

.bg-fabric {
    background: url("../img/fabr2.jpg") center/cover no-repeat;
    color: var(--clr-black)
}

.bg-dark {
    background-color: var(--clr-pink-dark);
    color: var(--clr-white);
}

.bg-dark h2,
.bg-dark h3,
.bg-fabric h2,
.bg-fabric h3 {
    color: var(--clr-black);
}

ul {
    list-style-type: circle;
    padding: .5rem;
}

ul.list-unstyled {
    list-style: none;
    padding: 0;
}

ul.list-line {
    border-top: 2px solid var(--clr-og-pink-light);
    border-bottom: 2px solid var(--clr-og-pink-light);
    margin-top: 0;
}



/* MORE STYLING------------------------------------------------------------ */
main .text-and-img>img {
    object-fit: cover;
    border: 15px solid white;
    box-shadow: var(--shadow-natural);
    min-height: 70%;
    /* max-width: 600px; */
    width: clamp(100%, 600px, 50%);
}


footer a {
    color: var(--clr-white);
    text-decoration: underline;
}


#copyright {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

span {
    display: inline-block;
}

q {
    font-size: 1.3em;
}

.pink {
    color: var(--clr-og-pink-light);
    font-weight: bold;
}

.p676 {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--clr-og-pink-light);
    display: inline-flex;
    align-items: center;
}

.p676 img {
    height: 1em;
    width: auto;
    margin-right: 3px;
    vertical-align: middle;
}

.job {
    font-weight: bold;
}

.szerep {
    font-style: italic;
}

/* i {
    font-size: 20px;
    color: #fff;
    margin-top: 5px;
} */



/* közepen cim */
.line::before,
.line::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100px;
    height: 1px;
    /* background: var(--clr-og-pink-light) */
    background-color: var(--clr-grey-dark);
}

.line::before {
    left: -120px;
    margin-top: -0.5px;
}

.line::after {
    right: -120px;
    margin-top: -0.5px;
}

.line {
    display: inline-block;
    position: relative;
}

/* idk yet */
.line-short::before,
.line-short::after {
    content: "";
    position: absolute;
    top: 50%;
    /* width: 100px;
    height: 1px; */
    background: var(--clr-grey-dark)
}

.line-short::before {
    /* left: -120px; */
    /* Adjust as needed */
    margin-top: -0.5px;
    /* Vertically center the line */
}

.line-short::after {
    /* right: -120px; */
    /* Adjust as needed */
    margin-top: -0.5px;
}

.line-short {
    display: inline-block;
    position: relative;
}















/* FORM ------------------------------------------------------------------------------------- */

#contact-form {
    line-height: 1.9;
    /* background: linear-gradient(to bottom, var(--clr-og-pink-light) 50%, #ffffff 50%); */

}

.contact-wrap {
    /* var */
    box-shadow: 0 0px 20px 0 var(--clr-alpha-l-gray);
    display: flex;
    flex-wrap: wrap;
}

.form {
    background: var(--clr-white);
    flex: 1;
    padding: 3rem;
}

.contact-info {
    padding: var(--gutter-y-small);
    color: var(--clr-white);
    background: var(--clr-grey-dark);
    width: 40%;
}


input,
textarea {
    font-family: var(--ff);
    border: none;
    border-bottom: 1px solid var(--clr-og-grey-mid);
    padding-inline: 0;
    border-radius: 0;
    background: none;
    width: 100%;
    padding-block: var(--spacing--10);
}

textarea {
    border: 1px solid var(--clr-og-grey-mid);
    border-radius: 3px;
    padding: var(--spacing--10);
}


input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--clr-black);
}



#contact-form .btn {
    border: none;
    border-radius: 0;
    font-size: 12px;
    letter-spacing: .2rem;
    text-transform: uppercase;
}


label {
    font-size: 14px;
    color: var(--clr-grey-dark);
    margin: 0 0 10px 0;
    /* display: inline-block; */
    padding: 0;
    display: block;
    margin-bottom: 5px;

}

textarea {
    resize: vertical;
}




.contact-info ul li {
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.5);
}



#contact-form h2 {
    color: var(--clr-pink-dark);
    /* font-size: 20px; */
    /* margin-bottom: 30px; */
}

.contact-info h2 {
    color: #fff;
    /* font-size: 20px;
    margin-bottom: 30px; */
}


label.error {
    font-size: 12px;
    color: red;
}


.form-group {
    margin-block: var(--spacing--50);
}

@media (max-width: 884px) {
    .contact-info {
        width: 100%;
    }
}




/* ------------------------ */
.submitting {
    display: none;
}


#form-message-warning,
#form-message-success {
    display: none;
    margin-top: 10px;
}

/*
#form-message-warning {
    color: red;
}

#form-message-success {
    color: green;
}

#form-message-warning,
#form-message-success {
    display: none;
}

#form-message-warning {
    color: #B90B0B;
}

#form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold;
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000;
} */



.x2x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    z-index: 1;

    color: var(--clr-white);
    font-size: 1.2em;
}


.x2x2>.card>p {
    max-width: 35ch;
}

.bg-alpha-gray {
    background-color: var(--clr-alpha-gray);
    /* Using --clr-og-grey-mid with 60% opacity */
}

.bg-alpha-pink {
    background-color: var(--clr-alpha-pink-dark)
        /* Using --clr-og-pink-light with 60% opacity */
}


.x2x2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/hero-img.png') no-repeat center bottom/contain;
    opacity: 0.4;
    z-index: -1;
}

@media (max-width: 768px) {
    .x2x2 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (min-width: 2000px) {
    .x2x2 {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
}

#majd-kiveheto {
    background-color: var(--clr-white);
}