@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Rubik:wght@400;700&display=swap');

/* Typography and colors --------------------------------------------------- */
:root {
    --ff: "Barlow", sans-serif;
    /* --ff-display: "DM Serif Display", serif; */

    --clr-og-pink-light: #eab2cb;
    --clr-pink-dark: #c97a97;
    --clr-grey-light: #f0f0f0;
    --clr-og-grey-mid: #686767;
    --clr-grey-dark: #505050;
    --clr-white: #ffffff;
    --clr-black: #000000;

    /* szurke lehet subtext */

    /* adobe */
    --clr-a2: #B2C5EB;
    --clr-purple-dark: #6B3A50;

    /* ránézésre */
    --clr-burgundy: hsl(344, 74%, 29%);
    --clr-teal: hsl(191, 100%, 13%);
    --clr-purple-dark: #270F33;

    /* WP */
    --woocommerce: #a46497;
    --wc-primary: #4D3A4D;

    /* highlight palette */
    --clr-magenta: #99005D;
    --clr-magenta-light: #E661A7;
    --clr-light: #FBF4D7;
    --clr-gray-purple: #FBF4D7;
    --clr-teal2: #005B4F;





    --wp--preset--font-size--small: 14px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 24px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--font-size--normal: 20px;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;


    --shadow-natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
    --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
    /* --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1); */
    --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}

::selection {
    background-color: var(--clr-og-pink-light);
}

p {
    word-break: break-word;
    word-wrap: break-word;
    text-align: left;
}

h1 {
    /* font: bold max(10rem, 8vw) / max(10rem, 5vw); */
    color: var(--clr-white);
    font-size: 6rem;
    line-height: 0.9;
    text-transform: uppercase;
    background: linear-gradient(var(--clr-og-pink-light) 40%, var(--clr-pink-dark));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    pointer-events: none;
}

h1,
h2,
h3 {
    letter-spacing: 3px;
    color: var(--clr-grey-dark);
}


h3 {
    margin-bottom: .7em;
}




@media screen and (max-width: 1500px) {
    h1 {
        font-size: 5rem;
        line-height: 1;
    }
}

@media screen and (max-width: 600px) {
    /* h1 {
        font-size: 2rem;
    } */

    .header-wrapper {
        display: block;
    }
}



.subtitle {
    /* text-transform: uppercase; */
    /* font-style: italic; */
    font-size: 1.08em;
}





/* CSS RESET */
* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    background-color: #005B4F;
    font-family: var(--ff);
    font-size: calc(15px + 0.25vw);
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.625;
    color: var(--clr-grey-dark);
}


/* HEADER------------------------------------------------------- */
header {
    margin-top: 5rem;
    position: relative;
    width: 100%;
    min-height: 70vh;
    background-color: transparent;

    background-image: url("../img/fabr2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    padding-bottom: 5rem;
}

/* .header-wrapper {
    margin-top: 6rem;
} */

.title-subpage {
    justify-content: center;
    /* font-size: 3rem; */
}



/* színátmenet a háttéren */
header::after {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;

    /* background: linear-gradient(45deg, hsl(318, 96%, 36%), hsl(309, 100%, 93%)); */
    /* -webkit-filter: grayscale(70%);
    filter: grayscale(100%); */
    opacity: .4;
    /* mix-blend-mode: difference; */
}

/* .header-content {
    max-width: 40%;

    position: relative;
    margin: 0 10rem;
    padding: 1px;
}

.header-img img {
     height: 70%; 
    width: 70%;
} */


header * {
    z-index: 99;
}

.header-subpage {
    padding: 1px;
    height: fit-content;
    min-height: 20vw;

    display: flex;
    align-items: center;
}

.title-subpage {
    text-align: center;
    flex-grow: 1;
}




/* A AND BUTTON------------------------------------------------------- */
a {
    color: var(--clr-pink-dark);
    text-decoration: none;
    transition: all .2s linear;
    /* transition: .3s all ease; */
}

.btn {
    margin-top: 1rem;

    border-radius: 1px;
    border: none;

    font-weight: 500;
    padding: 2.4vh 1em;

    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;

    transition: all .2s;

    background-color: var(--clr-og-pink-light);
    color: var(--clr-black);

    border-radius: 4px;
    cursor: pointer;

    text-decoration: none !important;
    font-size: .9em;
}

.btn-dark {
    background-color: var(--clr-pink-dark);
    color: var(--clr-white);
}

.btn-light {
    background-color: #fff;
}

.btn-container {
    margin-top: 3rem;
    /* text-align: center; */
}

.btn:focus-visible {
    outline: none;
    box-shadow: none;
}






/* NAV ------------------------------------------ */
nav {
    position: relative;
}

.main-nav {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5vw;

    background-color: var(--clr-white);
}

.nav-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.2rem;
}

.main-nav a {
    margin: 0;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: light;
    color: var(--clr-grey-dark);
}

.main-nav a.active {
    color: var(--clr-pink);
}

.logo {
    height: 5rem;
    margin-right: auto;
}


nav a.active {
    text-decoration: underline wavy;
}





.navbar-toggler {
    display: none;
    padding: 15px;
}

.nav-first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-nav[data-scrolled="true"] {
    box-shadow: 6px 6px 9px var(--shadow-natural);
}

@media screen and (max-width: 800px) {

    .main-nav {
        flex-direction: column;
        position: relative;
        transition: all .2s;
    }

    .main-nav[data-state="closed"] .nav-content {
        display: none;
    }

    .main-nav[data-state="open"] .nav-content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .main-nav[data-state="open"] .nav-first-row {
        border-bottom: 1px solid #505050;
    }


    .navbar-toggler {
        display: block !important;
        /* position: fixed;
        top: 0;
        right: 0; */
    }

    .logo {
        margin-right: 0px;
        width: 100%;

        display: block !important;
    }

    header {
        margin-top: 0;
    }
}









/* LAYOUT------------------------------------------------------------- */
section,
footer {
    padding: 65px 10%;
}

section {
    background-color: var(--clr-white);
}

.columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 2rem;
    justify-items: center;
    margin-inline: auto;
}

.text-and-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
    align-items: center;
}



.card {
    /* background-color: #6B3A50; */
    border-radius: 5px;
    border: 1px dashed var(--clr-grey-dark);
    padding: 1rem;
}

footer>div {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

footer>div>div {
    max-width: 40%;
}

.center {
    margin-inline: auto;
    text-align: center;
}

.center * {
    text-align: center;
}


.wrapper {
    max-width: 1440px;
}




/* MODIFIERS ------------------------------------------------ */
.tanacs {
    background-color: aquamarine;
    padding: 1rem;
    font-style: italic;
}

.flip-x {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.bg-grey {
    background-color: var(--clr-grey-light);
}

.bg-pink {
    background-color: var(--clr-og-pink-light);
    color: var(--clr-black);
}

.bg-fabric {
    background-image: url("../img/fabr2.jpg");
    color: var(--clr-black)
}

.bg-dark {
    background-color: var(--clr-pink-dark);
    color: var(--clr-white);
}

ul {
    list-style-type: circle;
    padding: .5rem;
}

ul.list-unstyled {
    list-style: none;
    padding: 0;
}

ul.list-line {
    border-top: 2px solid var(--clr-og-pink-light);
    border-bottom: 2px solid var(--clr-og-pink-light);
    margin-top: 0;
}



/* MORE STYLING------------------------------------------------------------ */
.text-and-img>img {
    object-fit: cover;
    border: 15px solid white;
    box-shadow: var(--shadow-natural);
}


footer a {
    color: var(--clr-white);
    text-decoration: underline;
}


#copyright {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

span {
    display: inline-block;
}

q {
    font-size: 1.3em;
}

.pink {
    color: var(--clr-og-pink-light);
    font-weight: bold;
}

.p676 {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--clr-og-pink-light);
    display: inline-flex;
    align-items: center;
}

.p676 img {
    height: 1em;
    width: auto;
    margin-right: 3px;
    vertical-align: middle;
}

.job {
    font-weight: bold;
}

.szerep {
    font-style: italic;
}

i {
    font-size: 20px;
    color: #fff;
    margin-top: 5px;
}















/* FORM ------------------------------------------------------------------------------------- */

#contact-form {
    line-height: 1.9;
    /* background: linear-gradient(to bottom, var(--clr-og-pink-light) 50%, #ffffff 50%); */

}

.contact-wrap {
    /* var */
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
}

.form {
    background: var(--clr-white);
    flex: 1;
    padding: 3rem;
}

.contact-info {
    padding: 40px;
    color: var(--clr-white);
    background: var(--clr-grey-dark);
    width: 350px;
}


input,
textarea {
    border: none;
    border-bottom: 1px solid var(--clr-og-grey-mid);
    padding-inline: 0;
    border-radius: 0;
    background: none;
    height: 45px;
}


input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: #000;
}



#contact-form .btn {
    border: none;
    border-radius: 0;
    font-size: 12px;
    letter-spacing: .2rem;
    text-transform: uppercase;
}


label {
    font-size: 14px;
    color: var(--clr-grey-dark);
    margin: 0 0 10px 0;
    /* display: inline-block; */
    padding: 0;
    display: block;
    margin-bottom: 5px;

}

textarea {
    resize: vertical;
}




.contact-info ul li {
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.5);
}



#contact-form h2 {
    color: var(--clr-pink-dark);
    /* font-size: 20px; */
    /* margin-bottom: 30px; */
}

.contact-info h2 {
    color: #fff;
    /* font-size: 20px;
    margin-bottom: 30px; */
}


label.error {
    font-size: 12px;
    color: red;
}


.form-group {
    margin: 15px;
}






/* ------------------------ */
.submitting {
    display: none;
}


#form-message-warning,
#form-message-success {
    display: none;
    margin-top: 10px;
}

/*
#form-message-warning {
    color: red;
}

#form-message-success {
    color: green;
}

#form-message-warning,
#form-message-success {
    display: none;
}

#form-message-warning {
    color: #B90B0B;
}

#form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold;
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000;
} */